body {
background:	#F0F8FF;
height: 800px;
}

h1, h2, h3, h4, p{
padding: 0px;
margin: 0px;
}

.providerbody {
width:60%;
height:80%;
background-color:white;
margin:auto;
}

.providerbody .providerhead h1 {
text-align: center;
padding: 10px 0px;
font-size: 40px;
border-bottom: 1px solid black;
}

.cover-contain{
display:flex;
height:100%;
}

.accept-container {
display: inline-block;
width: 50%;
height: 80%;
margin-top:2%;
border:4px solid black;
}

.accept-container h2{
border-bottom: 4px solid black;
padding: 20px 0px;
text-align:center;
}

.accept-container .avail-card{
width: 100%;
height: 120px;
border-bottom: 1px solid black;
}
.accept-container .avail-order{
height: 100%;
}

.accept-container .avail-order .cus-name{
display: inline-block;
margin-left:2%;
margin-top:1%;
}

.accept-container .avail-order textarea {
height: 60%;
width: 50%;
margin-left:2%;
margin-top:1%;
}

.accept-container .avail-order button{
float: right;
margin-right:4%;
background-color: white;
border: 1px solid black;
padding: 5px 15px;
font-size:16px;
border-radius: 5px;
margin-top: 25px;
}



.completing-container{
margin-top: 2%;
margin-left: 0.5%;
width:50%;
height:80%;
border:4px solid black;
}

.completing-container h2{
border-bottom: 4px solid black;
padding: 20px 0px;
text-align:center;
}

.completing-container .pend-card{
width: 100%;
height: 120px;
border-bottom: 1px solid black;
}
.completing-container .pend-order{
height: 100%;
}

.completing-container .pend-order .cus-name{
display: inline-block;
margin-left:2%;
margin-top:1%;
}

.completing-container .pend-order textarea {
height: 60%;
width: 50%;
margin-left:2%;
margin-top:1%;
}

.completing-container .pend-order button{
float: right;
margin-right:4%;
background-color: white;
border: 1px solid black;
padding: 5px 15px;
font-size:16px;
border-radius: 5px;
margin-top: 25px;
}
