.searchfield {
margin-left: 10%;
display: inline-block;
height: 100%;
width: 400px;
}
    
h1, h2, h3, h4, p{
margin:0;
padding:0;
}
    
/*store-card */
.store-card {
padding-top:3%;
width: 80%;
margin: auto;
height: 1200px;
}

/* Section 1 content */
.sell-column{
padding-top:20px;
display: flex;
max-width: 100%;
justify-content: center;
flex-wrap:wrap;
height: 60%;
float: left;
}

.sell-column a {
text-decoration: none;
color:black;
}

.sell-column #title {
	font-size:22px;
}

.sell-column #provName{
	font-size:14px;
}

.sell-column .invis-but{
	background-color: Transparent;
	border: none;
	outline: none;
}

.box-view {
position: relative;
width: 260px;
height: 320px;
background-color:#fdfdf8;
overflow: hidden;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
border: 1px solid black;
margin-left: 20px;
}
.box-view .sell-info {
position: absolute;
width: 100%;
height: 35%;
background-color:lightgray;
bottom: 0;
}
.box-view .sell-info h3 {
padding: 1% 6%;
}
.box-view .sell-info p {
padding: 0 6%;
}
.box-view #rating{
font-size:16px;
}
.box-view i {
color:#FFD700;
}
.box-view a{
font-size:16px;
}
.box-view .sell-info #title {
font-size:18px;
padding-top: 5px;
padding-bottom: 5px;
}